
<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31">


<table>
	<th>Ticket ID</th>
	<th>Sold Price</th>




{% for ticket in tickets %}
	<tr>
		<td>{{line['ticket_id']}}</td>
		<td>{{line['sold_price']}}</td>
	</tr>
{% endfor %}


<!-- <html>
<head>
</head>
<body>
	<h1>Airlines</h1>

</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>


<div class="topnav">
  <input type="text" placeholder="Search..">
</div>


<table>
	<th>Flights</th>
	<th>Source airport</th>
	<th>Destination Airport</th>
	<th>Departure Dates</th>
	<th>Status</th>
	<th>Type</th>


{% for line in posts %}
	<tr>
		<td>{{line['flight']}}</td>
		<td>{{line['Source_airport']}}</td>
		<td>{{line['Destination_Airport']}}</td>
		<td>{{line['Departure_Dates']}}</td>
		<td>{{line['Status']}}</td>
		<td>{{line['Type']}}</td>

	</tr>
{% endfor %}
</table>
<input type="submit" value = Purchase><br><br>


<a href="login.html"> Login </a>
<br>
<a href="register.html"> register </a>
<br>
<a href="login.html">Logout</a>






<div class="chart-wrap vertical">
  <h2 class="title">Spending</h2>
  <div class="grid">
  <div class="bar" style="--bar-value:100%;" data-name="Small" title="Flight One"></div>
        <div class="bar" style="--bar-value:25%;" data-name="Medium" title="Flight Two"></div>   
  </div>
</div>


</body>




</html>






 -->