<html>
<head>
</head>
<body>
	<h1>Airlines</h1>

</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

 

<input type="button" onclick="location.href='viewFlights.html'" value = ViewFlights  />
<input type="button" onclick="location.href='manage.html'" value = manage  />
<input type="button" onclick="location.href='spending.html'" value = Spending  />

<a href="login.html">Logout</a>






<div class="chart-wrap vertical">
  <h2 class="title">Spending</h2>
  <div class="grid">
  <div class="bar" style="--bar-value:100%;" data-name="Small" title="Flight One"></div>
        <div class="bar" style="--bar-value:25%;" data-name="Medium" title="Flight Two"></div>   
  </div>
</div>


</body>




</html>






